<main *ngIf="allUsersAndTasks.length > 0">
  <section class="m-auto md:w-3/4 lg:w-1/2 p-5">
    <app-search></app-search>
    <ul class="flex flex-col p-5 gap-5 mt-5">
      <!-- ng container è una chicca che ho scoperto la settimana scorsa, aiuta tantissimo quando hai
       ngIf e ngFor insieme, non viene renderizzata -->
      <ng-container *ngFor="let user of allUsersAndTasks">
        <li
          *ngIf="user.tasks && user.tasks.length > 0"
          class="border border-black p-2"
        >
          <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <ul>
              <li
                *ngFor="let task of user.tasks"
                [ngClass]="task.completed ? 'green' : 'red'"
              >
                {{ task.todo }} -
                <input type="checkbox" [(ngModel)]="task.completed" />
              </li>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </section>
</main>
