<main>
  <section class="m-auto md:w-3/4 lg:w-1/2 p-5">
    <app-search (datoRicercato)="ricerca($event)"></app-search>
    <ul
      *ngIf="allUsersAndTasks.length > 0"
      class="flex flex-col p-5 gap-5 mt-5"
    >
      <!-- ng container è una chicca che ho scoperto la settimana scorsa, aiuta tantissimo quando hai
       ngIf e ngFor insieme, non viene renderizzata -->
      <ng-container *ngFor="let user of allUsersAndTasks">
        <li
          *ngIf="user.tasks && user.tasks.length > 0"
          class="border p-2 bg-yellow-200"
        >
          <div>
            <h2 class="text-xl mb-2">
              {{ user.firstName }} {{ user.lastName }}
            </h2>
            <ul class="flex flex-col gap-2">
              <li
                *ngFor="let task of user.tasks"
                [ngClass]="task.completed ? 'green' : 'red'"
                class="border border-black"
              >
                {{ task.todo }} -
                <input type="checkbox" [(ngModel)]="task.completed" />
              </li>
            </ul>
          </div>
        </li>
      </ng-container>
      <p *ngIf="noResults" class="text-center text-red-500">
        Nessun risultato trovato
      </p>
    </ul>
  </section>
</main>
