nav {
  height: 8vh;
  background-color: gray;
}

main {
  height: 87vh;
  overflow: auto;
  background-color: rgb(143, 208, 255);
}

footer {
  height: 5vh;
  background-color: gray;
}

.green {
  background-color: greenyellow;
  padding: 0.5rem;
}

.red {
  background-color: red;
  padding: 0.5rem;
}

@keyframes sono-pazzo {
  0% {
    transform: scale(1);
  }
  11% {
    transform: scale(1.5);
  }
  22% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.5);
  }
  44% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.5);
  }
  66% {
    transform: scale(1);
  }
  77% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}

.perchesi {
  display: inline-block;
  animation: sono-pazzo 3s infinite ease-in-out;
}
