nav {
  height: 8vh;
  background-color: gray;
}

main {
  height: 87vh;
  overflow: auto;
  background-color: rgb(143, 208, 255);
}

footer {
  height: 5vh;
  background-color: gray;
}

.green {
  background-color: greenyellow;
  padding: 0.5rem;
}

.red {
  background-color: red;
  padding: 0.5rem;
}
