<main>
  <section class="m-auto md:w-3/4 lg:w-1/2 p-5 flex flex-col items-center">
    <h1 class="text-[5rem] perchesi z-30">Incarichi Completati</h1>
    <div
      *ngIf="allUsersAndTasks.length > 0"
      class="flex flex-col p-5 mt-5 bg-green-500"
    >
      <div *ngFor="let user of allUsersAndTasks">
        <div *ngFor="let task of user.tasks">
          <div *ngIf="task.completed" class="mb-5 relative">
            <div
              class="absolute z-10 -bottom-3 -right-3 italic text-[0.8rem] bg-slate-400 p-1 rounded-xl"
            >
              {{ user.firstName }}
            </div>
            <div class="bg-green-300 p-2 py-5 text-xl rounded-3xl text-center">
              {{ task.todo }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
